body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.m-l-0{
	margin-left:0;
}

.m-r-0{
	margin-right:0;
}

.text-center{
	text-align:center;
}

.Main_div{
	margin :1% auto;
	.header_main_div{
		padding:15px;
		border:thin black solid;
	}

	.center_main_div{
		margin: 1% auto;

		.row{
			display: flex;

			@media(min-width:320px) and (max-width:480px){
				display: block;
			}

			.left_column{
				flex: 1; /* additionally, equal width */
				padding: 1em;
				border: thin black solid;
				float: left;
				width: 66%;
				margin:0 15px;
				

				@media(min-width:320px) and (max-width:480px){
					width: 100%;
					flex: 0;
					padding:1em 30px 1em 0px;
					margin:5px 15px;
				}
			}

			.right_column{
				padding: 1em;
				border: thin black solid;
				float: left;
				width: 33%;
				margin:0 15px 0 0;
				display: flex;
				justify-content: center;
				align-items:center;


				@media(min-width:320px) and (max-width:480px){
					width: 100%;
					margin: 5px 15px ;
					padding:1em 30px 1em 0px;

					
				}
			}
		}
	}	
}

